<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Your Plan | Keto</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/vendor/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/vendor/themify-icons.css">
    <link rel="stylesheet" href="assets/css/vendor/cryptocurrency-icons.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins/plugins.css">

    <!-- Helper CSS -->
    <link rel="stylesheet" href="assets/css/helper.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- Custom Style CSS Only For Demo Purpose -->
    <link id="cus-style" rel="stylesheet" href="assets/css/style-primary.css">

</head>

<body>

    <div class="main-wrapper">


        <!-- Header Section Start -->
        <div class="header-section">
            <div class="container-fluid">
                <div class="row justify-content-between align-items-center">

                    <!-- Header Logo (Header Left) Start -->
                    <div class="header-logo col-auto">
                        <a href="index.html">
                            <img src="assets/images/logo/logo.png" alt="">
                            <img src="assets/images/logo/logo-light.png" class="logo-light" alt="">
                        </a>
                    </div><!-- Header Logo (Header Left) End -->

                    <!-- Header Right Start -->
                    <div class="header-right flex-grow-1 col-auto">
                        <div class="row justify-content-between align-items-center">

                            <!-- Side Header Toggle & Search Start -->
                            <div class="col-auto">
                                <div class="row align-items-center">

                                    <!--Side Header Toggle-->
                                    <div class="col-auto"><button class="side-header-toggle"><i class="zmdi zmdi-menu"></i></button></div>


                                </div>
                            </div><!-- Side Header Toggle & Search End -->

                            <!-- Header Notifications Area Start -->
                            <div class="col-auto">

                                <ul class="header-notification-area">

                                    <!--Notification-->
                                    <li class="adomx-dropdown col-auto">
                                        <a class="toggle" href="#"><i class="zmdi zmdi-notifications"></i><span class="badge"></span></a>

                                        <!-- Dropdown -->
                                        <div class="adomx-dropdown-menu dropdown-menu-notifications">
                                            <div class="head">
                                                <h5 class="title">You have 3 new notification.</h5>
                                            </div>
                                            <div class="body custom-scroll">
                                                <ul>
                                                    <li>
                                                        <a href="#">
                                                            <i class="zmdi zmdi-notifications-none"></i>
                                                            <p>There are many variations of pages available.</p>
                                                            <span>11.00 am   Today</span>
                                                        </a>
                                                        <button class="delete"><i class="zmdi zmdi-close-circle-o"></i></button>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="zmdi zmdi-block"></i>
                                                            <p>There are many variations of pages available.</p>
                                                            <span>11.00 am   Today</span>
                                                        </a>
                                                        <button class="delete"><i class="zmdi zmdi-close-circle-o"></i></button>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="zmdi zmdi-info-outline"></i>
                                                            <p>There are many variations of pages available.</p>
                                                            <span>11.00 am   Today</span>
                                                        </a>
                                                        <button class="delete"><i class="zmdi zmdi-close-circle-o"></i></button>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="footer">
                                                <a href="#" class="view-all">view all</a>
                                            </div>
                                        </div>

                                    </li>

                                    <!--User-->
                                    <li class="adomx-dropdown col-auto">
                                        <a class="toggle" href="#">
                                            <span class="user">
                                        <span class="avatar">
                                            <img src="assets/images/avatar/avatar-1.jpg" alt="">
                                            <span class="status"></span>
                                            </span>
                                            <span class="name">Madison Howard</span>
                                            </span>
                                        </a>

                                        <!-- Dropdown -->
                                        <div class="adomx-dropdown-menu dropdown-menu-user">
                                            <div class="head">
                                                <h5 class="name"><a href="#">Madison Howard</a></h5>
                                                <a class="mail" href="#">mailnam@mail.com</a>
                                            </div>
                                            <div class="body">
                                                <ul>
                                                    <li><a href="profile.html"><i class="zmdi zmdi-account"></i>Profile</a></li>
                                                    <li><a href="#"><i class="zmdi zmdi-email-open"></i>Inbox</a></li>
                                                    <li><a href="#"><i class="zmdi zmdi-wallpaper"></i>Activity</a></li>
                                                </ul>
                                                <ul>
                                                    <li><a href="#"><i class="zmdi zmdi-settings"></i>Setting</a></li>
                                                    <li><a href="login.html"><i class="zmdi zmdi-lock-open"></i>Sing out</a></li>
                                                </ul>
                                                <ul>
                                                    <li><a href="pricing.html"><i class="zmdi zmdi-paypal"></i>Payment</a></li>
                                                    <li><a href="#"><i class="zmdi zmdi-google-pages"></i>Invoice</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                    </li>

                                </ul>

                            </div><!-- Header Notifications Area End -->

                        </div>
                    </div><!-- Header Right End -->

                </div>
            </div>
        </div><!-- Header Section End -->
        <!-- Side Header Start -->
        <div class="side-header show">
            <button class="side-header-close"><i class="zmdi zmdi-close"></i></button>
            <!-- Side Header Inner Start -->
            <div class="side-header-inner custom-scroll">

                <nav class="side-header-menu" id="side-header-menu">
                    <ul>
                        <li><a href="index.html"><i class="ti-home"></i> <span>Home</span></a></li>
                        <li><a href="your-plan.html"><i class="fa fa-spoon"></i> <span>Your Plan</span></a></li>
                        <li><a href="keto101.html"><i class="fa fa-file-text-o"></i> <span>Keto 101</span></a></li>
                        <li><a href="racipes.html"><i class="ti-book"></i> <span>Racipes</span></a></li>
                        <li><a href="supplements.html"><i class="fa fa-archive"></i> <span>Supplements</span></a></li>
                        <li><a href="ingredients.html"><i class="zmdi zmdi-pizza"></i> <span>Ingredients</span></a></li>
                        <li><a href="faq.html"><i class="fa fa-question-circle-o"></i> <span>FAQ</span></a></li>
                        <li><a href="pricing.html"><i class="fa fa-inr"></i> <span>Pricing</span></a></li>
                    </ul>
                </nav>

            </div><!-- Side Header Inner End -->
        </div><!-- Side Header End -->

        <!-- Content Body Start -->
        <div class="content-body">

            <!-- Page Headings Start -->
            <div class="row mb-10">

                <!-- Page Heading Start -->
                <div class="col-12 col-lg-auto ml-15 mr-15">
                    <div class="page-heading">
                        <h3>Your Plan</h3>
                    </div>
                </div><!-- Page Heading End -->

            </div><!-- Page Headings End -->


            <!-- Row Start -->
            <div class="row py-4 pl-3 pr-3  mb-2 plan-details">
                
                <div class="col-xlg-3 col-md-3 col-12 my-2">
                    <div class="top-report">
                        <div class="media border-bottom mb-10 pb-10">
                          <img class="mr-3" src="assets/images/p2.svg" >
                          <div class="media-body">
                            <h5 class="mt-0">100 kg</h5>
                            <p><strong>Current weight</strong></p>
                          </div>
                        </div>
                        <div class="media mt-3">
                          <img class="mr-3" src="assets/images/p2.svg" >
                          <div class="media-body">
                            <h5 class="mt-0">100 kg</h5>
                            <p><strong>Target weight</strong></p>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-xlg-3 col-md-3 col-12 my-2">
                    <div class="top-report">
                        <div class="media border-bottom mb-10 pb-10">
                          <img class="mr-3" src="assets/images/p2.svg" >
                          <div class="media-body">
                            <h5 class="mt-0">180 cm</h5>
                            <p><strong>Height</strong></p>
                          </div>
                        </div>
                        <div class="media mt-3">
                          <img class="mr-3" src="assets/images/p2.svg" >
                          <div class="media-body">
                            <h5 class="mt-0">Low</h5>
                            <p><strong>Activity Level</strong></p>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-xlg-3 col-md-3 col-12 my-2">
                    <div class="top-report">
                        <div class="media border-bottom mb-10 pb-10">
                          <img class="mr-3" src="assets/images/p2.svg" >
                          <div class="media-body">
                            <h5 class="mt-0">2370</h5>
                            <p><strong>Daily Calories</strong></p>
                          </div>
                        </div>
                        <div class="media mt-3">
                          <img class="mr-3" src="assets/images/p2.svg" >
                          <div class="media-body">
                            <h5 class="mt-0">148 - 184 - 30</h5>
                            <p><strong>Protein/Fats/Carbs</strong></p>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-xlg-3 col-md-3 col-12 my-2">
                    <div class="top-report">
                        <div class="media border-bottom mb-10 pb-10">
                          <img class="mr-3" src="assets/images/p2.svg" >
                          <div class="media-body">
                            <h5 class="mt-0">4.3 L</h5>
                            <p><strong>Water intake</strong></p>
                          </div>
                        </div>
                        <div class="media mt-3">
                          <img class="mr-3" src="assets/images/p2.svg" >
                          <div class="media-body">
                            <h5 class="mt-0">95 kg</h5>
                            <p><strong>Expected 30 Days</strong></p>
                          </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Row End -->


            <!-- Row Start -->
            <div class="row">

                <div class="col-12 col-md-4 col-lg-auto ml-15 mr-15">
                    <div class="page-heading">
                        <h3>Your Custom Meal Plan</h3>
                    </div>
                </div>

                <div class="col-12 col-md-8 col-lg-auto ml-15 mr-15">
                    <nav aria-label="Page navigation example" class="d-inline-block">
                      <ul class="pagination">
                        <li class="page-item"><a class="page-link cm-pre" href="#"> < </a></li>
                        <li class="page-item"><a class="page-link" href="#">WEEK 1</a></li>
                        <li class="page-item"><a class="page-link cm-pre" href="#"> > </a></li>
                      </ul>
                    </nav>
                    <!-- <button class="button button-outline button-danger text-uppercase" data-toggle="modal" data-target="#changeingredients"><span>CHANGE INGREDIENTS</span></button>
                    <button class="button button-danger text-uppercase"><span>Download Shopping list</span></button> -->
                </div>

            </div><!-- Row End -->

            <!-- Row Start -->
            <div class="row py-4 pl-3 pr-3 ">
                <div class="col-xlg-3 col-md-12 col-12">
                    <div class="week-div">
                        <a href="#">Sunday</a>
                        <a href="#">Monday</a>
                        <a href="#">Tuesday</a>
                        <a href="#">Wednessday</a>
                        <a href="#">Thusday</a>
                        <a href="#">Friday</a>
                        <a href="#">Saturday</a>
                    </div>
                </div>
            </div>
            <!-- Row END -->

            <!----------Change Ingredients Model-------------->
            <div class="modal fade show" id="changeingredients">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Select or change food ingredients</h5>
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                            <nav>
                              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">MEAT</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">VEGGIES</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">PRODUCTS</a>
                              </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">

                              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="d-flex flex-wrap my-3">
                                    <label class="ingredients-check mr-3 mb-4"><input type="checkbox" change="check_meat()"> <span class="ic-title"><img src="assets/images/chicken.png" alt="Chicken"> <span>Chicken</span></span></label>

                                    <label class="ingredients-check mr-3 mb-4"><input type="checkbox" change="check_meat()"> <span class="ic-title"><img src="assets/images/chicken.png" alt="Chicken"> <span>Pork</span></span></label>

                                    <label class="ingredients-check mr-3 mb-4"><input type="checkbox" change="check_meat()"> <span class="ic-title"><img src="assets/images/chicken.png" alt="Chicken"> <span>Beef</span></span></label>

                                    <label class="ingredients-check mr-3 mb-4"><input type="checkbox" change="check_meat()"> <span class="ic-title"><img src="assets/images/chicken.png" alt="Chicken"> <span>Fish</span></span></label>

                                    <label class="ingredients-check mr-3 mb-4"><input type="checkbox" change="check_meat()"> <span class="ic-title"><img src="assets/images/chicken.png" alt="Chicken"> <span>Bacon</span></span></label>

                                    <label class="ingredients-check mr-3 mb-4"><input type="checkbox" change="check_meat()"> <span class="ic-title"><img src="assets/images/chicken.png" alt="Chicken"> <span>No Meat</span></span></label>
                                </div>
                              </div>

                              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="d-flex flex-wrap my-3">
                                    <label class="ingredients-check mr-3 mb-4"><input type="checkbox" change="check_meat()"> <span class="ic-title"><img src="assets/images/chicken.png" alt="Chicken"> <span>Chicken</span></span></label>

                                    <label class="ingredients-check mr-3 mb-4"><input type="checkbox" change="check_meat()"> <span class="ic-title"><img src="assets/images/chicken.png" alt="Chicken"> <span>Pork</span></span></label>
                                </div>
                              </div>

                              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                  <div class="d-flex flex-wrap my-3">
                                    <label class="ingredients-check mr-3 mb-4"><input type="checkbox" change="check_meat()"> <span class="ic-title"><img src="assets/images/chicken.png" alt="Chicken"> <span>Chicken</span></span></label>

                                    <label class="ingredients-check mr-3 mb-4"><input type="checkbox" change="check_meat()"> <span class="ic-title"><img src="assets/images/chicken.png" alt="Chicken"> <span>Pork</span></span></label>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="button button-danger">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Row Start -->
            <div class="row py-4 pl-3 pr-3  mb-2 plan-div-col">
                <!-- Top Report Start -->
                <div class="col my-2">
                    <div class="card text-white">
                      <img src="assets/images/Keto-Diet-Plan-Meal-Plan.jpg" class="card-img" alt="">
                      <div class="card-img-overlay">
                        <h5 class="card-title text-white text-uppercase">Breakfast</h5>
                        <p class="card-text">This is a wider card with supporting text below</p>
                      </div>
                    </div>
                </div>
                <div class="col my-2">
                    <div class="card text-white">
                      <img src="assets/images/Keto-Diet-Plan-Meal-Plan.jpg" class="card-img" alt="">
                      <div class="card-img-overlay">
                        <h5 class="card-title text-white text-uppercase">Snack</h5>
                        <p class="card-text">This is a wider card with supporting text below</p>
                      </div>
                    </div>
                </div>
                <div class="col my-2">
                    <div class="card text-white">
                      <img src="assets/images/Keto-Diet-Plan-Meal-Plan.jpg" class="card-img" alt="">
                      <div class="card-img-overlay">
                        <h5 class="card-title text-white text-uppercase">Lunch</h5>
                        <p class="card-text">This is a wider card with supporting text below</p>
                      </div>
                    </div>
                </div>
                <div class="col my-2">
                    <div class="card text-white">
                      <img src="assets/images/Keto-Diet-Plan-Meal-Plan.jpg" class="card-img" alt="">
                      <div class="card-img-overlay">
                        <h5 class="card-title text-white text-uppercase">Snacks</h5>
                        <p class="card-text">This is a wider card with supporting text below</p>
                      </div>
                    </div>
                </div>
                <div class="col my-2">
                    <div class="card text-white">
                      <img src="assets/images/Keto-Diet-Plan-Meal-Plan.jpg" class="card-img" alt="">
                      <div class="card-img-overlay">
                        <h5 class="card-title text-white text-uppercase">Dinner</h5>
                        <p class="card-text">This is a wider card with supporting text below</p>
                      </div>
                    </div>
                </div>

            </div>
            <!-- Row END -->

            

            
        </div><!-- Content Body End -->

        <!-- Footer Section Start -->
        <div class="footer-section">
            <div class="container-fluid">

                <div class="footer-copyright text-center">
                    <p class="text-body-light">2020 &copy; <a href="#">keto</a></p>
                </div>

            </div>
        </div><!-- Footer Section End -->

    </div>

    <!-- JS
============================================ -->

    <!-- Global Vendor, plugins & Activation JS -->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="assets/js/vendor/popper.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <!--Plugins JS-->
    <script src="assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="assets/js/plugins/tippy4.min.js.js"></script>
    <!--Main JS-->
    <script src="assets/js/main.js"></script>

    <!-- Plugins & Activation JS For Only This Page -->

    <!--Moment-->
    <script src="assets/js/plugins/moment/moment.min.js"></script>

    <!--Daterange Picker-->
    <script src="assets/js/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="assets/js/plugins/daterangepicker/daterangepicker.active.js"></script>

    <!--Echarts-->
    <script src="assets/js/plugins/chartjs/Chart.min.js"></script>
    <script src="assets/js/plugins/chartjs/chartjs.active.js"></script>

    <!--VMap-->
    <script src="assets/js/plugins/vmap/jquery.vmap.min.js"></script>
    <script src="assets/js/plugins/vmap/maps/jquery.vmap.world.js"></script>
    <script src="assets/js/plugins/vmap/maps/samples/jquery.vmap.sampledata.js"></script>
    <script src="assets/js/plugins/vmap/vmap.active.js"></script>

</body>

</html>