/**************Site Header******************/
@media only screen and (min-width: 991px){
  .side-header.hide{left: 0px !important;width: 100px !important;}
  .side-header.hide + .content-body, .side-header.hide ~ .footer-section {
      margin-left: 100px !important;
  }
  .side-header.hide .side-header-menu > ul > li > a span{white-space: initial;}
}

/****************recipe details****************/
.recipe-container .card-img-overlay{
    padding: 40px;
    background: linear-gradient(45deg, #0000002b, black);
}
.recipe-container{background-color: #fff;}
.recipe-container .row{border-bottom: 1px solid #33333347;}

.recipe-container h2{
    font-size: 48px;
    font-weight: 700;
}
.recipe-container p{
    font-size: 18px;
}
.rd-icon{padding: 0 10px;}
.recipe-card-filter .form-check-label{
    margin-left: 16px;
    font-size: 18px;
    font-weight: 500;
}
.recipe-card-filter .form-check-input{
    width: 20px;
    height: 22px;
}

input:checked ~ .checkmark{ 
    background-color: rgb(68, 216, 177); 
    border-color: rgb(68, 216, 177);
}

.checkmark {
  position: absolute;
  top: 11px;
  left: -20px;
  height: 21px;
  width: 21px;
  background-color: #fff;
  border: 1px solid;
  border-radius: 1px;
}


.recipe-card-filter .card-group-item{
    background-color: #FBF9E7;
    padding: 0px 15px;
}
.recipe-card-filter .card-header{
    border: none;
    background-color: transparent;
}
.recipe-card-filter{border: none;}
.recipe-card-filter .form-check{padding: 5px 0;}

.recipe-card-filter-2{border: none;}
.recipe-card-filter-2 .card-header{background-color: transparent;}
.recipe-card-filter-2 .list-group-item{
    background-color: #f5f5f5;
    font-size: 18px;
    font-weight: 500;
}

.recipe-div{padding: 10px 20px;}
.recipe-div ol{padding-left: 15px;}
.recipe-div li{
    font-size: 18px;
    padding: 10px 0;
    border-bottom: 1px solid #e3e3e3;
}
.recipe-div .card-body{
      margin: 0 20px;
}
/****************recipe details****************/

.plan-day{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.plan-div, .plan-title-div{background-color: #fff;border-bottom: 1px solid #33333347;}
.cm-title-01 {
    display: none;
    text-align: center;
    padding-top: 15px;
}


.accordion .card, .accordion .card:hover{box-shadow: none}



/************workout page css************/
.uk-flex-center {
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.uk-flex-bottom {
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.uk-flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.uk-position-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.ak-overlay-classes {
    background: -moz-linear-gradient(top,rgba(21,25,37,0) 0%,rgba(21,25,37,0.06) 9%,rgba(21,25,37,0.2) 25%,rgba(21,25,37,0.84) 79%,rgba(21,25,37,0.94) 91%,#151925 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(21,25,37,0)),color-stop(9%,rgba(21,25,37,0.06)),color-stop(25%,rgba(21,25,37,0.2)),color-stop(79%,rgba(21,25,37,0.84)),color-stop(91%,rgba(21,25,37,0.94)),color-stop(100%,#151925));
    background: -webkit-linear-gradient(top,rgba(21,25,37,0) 0%,rgba(21,25,37,0.06) 9%,rgba(21,25,37,0.2) 25%,rgba(21,25,37,0.84) 79%,rgba(21,25,37,0.94) 91%,#151925 100%);
    background: -o-linear-gradient(top,rgba(21,25,37,0) 0%,rgba(21,25,37,0.06) 9%,rgba(21,25,37,0.2) 25%,rgba(21,25,37,0.84) 79%,rgba(21,25,37,0.94) 91%,#151925 100%);
    background: -ms-linear-gradient(top,rgba(21,25,37,0) 0%,rgba(21,25,37,0.06) 9%,rgba(21,25,37,0.2) 25%,rgba(21,25,37,0.84) 79%,rgba(21,25,37,0.94) 91%,#151925 100%);
    background: linear-gradient(to bottom,rgba(21,25,37,0) 0%,rgba(21,25,37,0.06) 9%,rgba(21,25,37,0.2) 25%,rgba(21,25,37,0.84) 79%,rgba(21,25,37,0.94) 91%,#151925 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00151925',endColorstr='#151925',GradientType=0);
    padding: 16px;
}
.uk-width-1-1 {
    width: 100%;
    display: inline-block;
}
.tm-radial {
    border-radius: 50%;
    background-color: rgba(21,25,37,0.5);
    width: 116px;
    height: 116px;
    text-align: center;
    position: relative;
    margin: 0 0 20px 20px;
    font-family: 'Montserrat',sans-serif;
}
.uk-float-left {
    float: left;
}
canvas{
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    vertical-align: middle;
        border: 2px solid;
    border-radius: 70px;
}
.tm-radial div {
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    width: 100%;
    margin-top: -18px;
    text-transform: uppercase;
}
.tm-radial div span {
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}


/**************workout popup****************/
.workout{    
    background-color: #2b1805b0;
    z-index: 99999;
    overflow: hidden;
  }

.workouts-upsell {
    padding: 20px;
}
.workouts-upsell .notice {
    text-align: center;
    max-width: 530px;
    font-size: 16px;
    margin: 0 auto;
    line-height: 1.5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
}
.workouts-upsell .workout-benefits {
    text-align: center;
}
.workouts-upsell .workout-benefits h3 {
    font-weight: 600;
    font-size: 28px;
}
.workouts-upsell .workout-benefits ul {
    text-align: left;
    font-size: 16px;
    max-width: 320px;
    margin: 30px auto;
    list-style: none;
    margin-top: 15px;
    margin-bottom: 25px;
}
.workouts-upsell .workout-benefits ul i {
    font-weight: 700;
    color: #4caf50;
    margin-right: 5px;
}

.workouts-upsell .unlock-now {
    text-align: center;
    font-size: 36px;
    color: #444;
    font-weight: 700;
}
.workouts-upsell .unlock-now .unlock {
    line-height: 1.1;
    font-size: 32px;
}
.workouts-upsell .unlock-now .price {
    display: block;
    font-weight: 600;
    margin-top: 15px;
    font-size: 48px;
    color: #4caf50;
}
.workouts-upsell .unlock-now .old-price {
    margin-top: -10px;
    color: #444;
    font-size: 24px;
    font-weight: 600;
    text-decoration: line-through;
    margin-bottom: 20px;
}
.workouts-upsell .payment-buttons {
    margin-top: 30px;
    margin-bottom: 20px;
    max-width: 540px;
    margin: auto;
}
.workouts-upsell .payment-buttons button {
    text-align: center;
    font-size: 16px;
    padding: 10px;
    font-weight: 600;
    color: #fff;
    background: #4caf50;
    border: 1px solid #4caf50;
    display: block;
    width: 100%;
    margin-bottom: 8px;
    border-radius: 10px;
}






/*****************Progress*********************/
.col-xs-4 {
    width: 33.33333333%;
    padding: 0px 15px;
}
.progress-div{background-color: #fff;}
.progress-div .plan{
  max-width: 640px;
  box-shadow: 0 4px 11px -2px rgba(86,70,143,.3);
  padding: 30px 30px;
}
.cycle-columns, .weight-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
.cycle-columns .cycle-col, .cycle-columns .weight-col, .weight-columns .cycle-col, .weight-columns .weight-col {
    -webkit-box-shadow: 0 4px 11px -2px rgba(86,70,143,.3);
    box-shadow: 0 4px 11px -2px rgba(86,70,143,.3);
    padding: 15px;
    border-radius: 9px;
    width: 175px;
    text-align: center;
}
.cycle-columns .cycle-col .cycle-label, .cycle-columns .cycle-col .weight-label, .cycle-columns .weight-col .cycle-label, .cycle-columns .weight-col .weight-label, .weight-columns .cycle-col .cycle-label, .weight-columns .cycle-col .weight-label, .weight-columns .weight-col .cycle-label, .weight-columns .weight-col .weight-label {
    color: #969696;
    font-weight: 400;
}
.cycle-columns .cycle-col .cycle-value, .cycle-columns .cycle-col .weight-value, .cycle-columns .weight-col .cycle-value, .cycle-columns .weight-col .weight-value, .weight-columns .cycle-col .cycle-value, .weight-columns .cycle-col .weight-value, .weight-columns .weight-col .cycle-value, .weight-columns .weight-col .weight-value {
    font-weight: 600;
    font-size: 18px;
}

.cycle-columns .cycle-col.mobile-only, .cycle-columns .weight-col.mobile-only, .weight-columns .cycle-col.mobile-only, .weight-columns .weight-col.mobile-only {
    display: none;
}
.weight-chart {
    -webkit-box-shadow: 0 4px 11px -2px rgba(86,70,143,.3);
    box-shadow: 0 4px 11px -2px rgba(86,70,143,.3);
    background: #4caf50cc;
    padding: 15px;
    border-radius: 9px;
}
.chartjs-size-monitor, .chartjs-size-monitor-expand, .chartjs-size-monitor-shrink {
    position: absolute;
    direction: ltr;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    z-index: -1;
}
.chartjs-size-monitor-expand>div {
    position: absolute;
    width: 1000000px;
    height: 1000000px;
    left: 0;
    top: 0;
}
.chartjs-size-monitor-shrink>div {
    position: absolute;
    width: 200%;
    height: 200%;
    left: 0;
    top: 0;
}
.weight-chart #weightChart {
    min-height: 290px;
}
.chartjs-render-monitor {
    animation: chartjs-render-animation 1ms;
}

.weight-form {
    margin-top: 30px;
    margin-bottom: 30px;
}
.content-wrapper h3 {
    font-size: 20px;
    font-weight: 600;
}
.weight-input input {
    height: 60px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: -5px;
}
.weight-input .form-control {
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccd0d2;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.btn-cm {
    border-radius: 22px;
    text-align: center;
    display: block;
    width: 100%;
    background-color: #4caf50;
    -webkit-box-shadow: 0 4px 11px -2px #4caf50;
    box-shadow: 0 4px 11px -2px #4caf50;
    color: #fff;
    font-size: 20px;
    border: 0;
    font-weight: 700;
    outline: none;
    margin-top: 25px;
    letter-spacing: .68px;
    padding: 12px;
    line-height: 23px;
    transition: 0.5s;
}
.btn-cm:hover{color: #fff;background-color: #4caf50cc;}

.weight-error {
    padding: 15px;
    text-align: center;
    color: #b50e0e;
    display: none;
}
.weight-history .row {
    font-size: 16px;
    border-bottom: 1px solid #ebebeb;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 36px;
}
.weight-history .heading-row {
    font-weight: 600;
    margin-top: 20px;
    line-height: 24px!important;
}
.weight-history .row:last-of-type {
    border-bottom: 0!important;
}
.weight-history .row .btn {
    background: #e6e6e6;
    color: #333;
    padding: 5px 15px;
}



@media only screen and (max-width: 990px){
  .container {
      width: 100%;
  }
  .recipe-container h2 {
    font-size: 28px;
  }
  .recipe-container .card-img-overlay {
    padding: 10px;
  }
  .recipe-container p {
    font-size: 17px;
  }
  .plan-div-col .col-md-3{
    width: 50%;
  }
  .plan-day h4{font-size: 24px;}
  .plan-title-div{display: none;}
  .cm-title-01 {
    display: block;
  }


  .header-logo{display: none !important;}

  .side-header-menu > ul > li > a i{
    width: 30% !important;
    float: left !important;
  }
  .side-header-menu > ul > li > a span{
    width: 70%;
    text-align: left !important;
    vertical-align: -webkit-baseline-middle;
  }
  .side-header-menu > ul > li > a{
    display: inline-block !important;
    border-bottom: 1px solid #bdbdbd47;
  }
  .side-header.hide {
    left: -310px;
   }
   .side-header{width: 230px !important; padding: 0px !important;}
   .mobile-logo{
        display: block !important;
        text-align: center !important;
        padding: 20px 0;
    }
}