<!doctype html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" name="viewport">
    <meta name="csrf-token" content="f8rrLttn21DZLCiTla6rQtLhEoUqF7etzsx2zHrx">
    <meta name="description" content="Keto Cycle offers a new, educated approach to the famous Ketogenic diet. It combines all of its health and weight loss benefits in one, easy-to-use app and guides you through your personalized daily Keto meal plan the safest way possible.">
    <meta name="keywords" content="Keto diet">
    <meta property="og:image" content="assets/images/share/facebook-share.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="favicon/favicon-128.png" sizes="128x128" />
    <link rel="alternate" href="index.html" hreflang="x-default" />
    <link rel="alternate" hreflang="en" href="index.html" />

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&amp;display=swap&amp;subset=latin-ext" rel="stylesheet">
    <title>Personalized Keto Diet Meal Plans | Keto</title>

    <link href="css/landing.css" rel="stylesheet" type="text/css">

    <script type="text/javascript">
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
            './gtm/gtm.html?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WVCZ9C5');</script>


        <script data-cfasync="false" src="./js/app01.js"></script>

    </head>
    <body>

        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WVCZ9C5"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>


        <div id="landing">
            <div class="container">
                <img src="images/logo1b26.svg?v2" alt="KetoCycle.Diet" class="regular-logo" />
                <h1>
                    Find out how much weight<br> you can lose with Keto diet
                </h1>
                <div class="gender-description">
                    Select your gender:
                </div>
                <div class="gender-buttons">
                    <button class="btn btn-male" data-gender="male">
                        <span class="icon"><i class="male"></i></span>
                        Men click here
                        <i class="forward-male forward" class="forward"></i>
                    </button>
                    <button class="btn btn-female" data-gender="female">
                        <span class="icon"><i class="female"></i></span>
                        Women click here
                        <i class="forward-female forward"></i>
                    </button>
                    
                    <div class="gender-disclaimer"></div>
                </div>

                <!-- <div id="gender-select">
                    <label id="gender-male-label" for="gender-male" class="radio-label">
                        Male                        
                        <input type="radio" name="gender" id="gender-male" value="Male">
                    </label> 
                    <span>OR</span> 
                    <label id="gender-female-label" for="gender-female" class="radio-label">
                        Female                        
                        <input type="radio" name="gender" id="gender-female" value="Female">
                    </label>
                </div> -->


                <div class="row">
                    <div class="col-xs-6 links col-lg-4">
                        <a href="blog.html">Blog</a>
                        <a href="faq.html">F.A.Q</a>
                        <a href="reviews.html">Reviews</a>
                        <a href="general-conditions.html">General conditions</a>
                        <a href="data-protection-policy.html">Data protection policy</a>
                        <a href="contacts.html">Contact us</a>
                    </div>
                    <div class="col-xs-12 recover-plan">
                        <a href="myplan.html" class="btn-primary plan-recovery-btn">Access my plan</a>
                    </div>
                    <div class="col-xs-6 col-lg-4">
                        <img src="images/single-color-logo.svg" class="footer-logo" />
                    </div>
                    <div class="col-xs-12 col-lg-4 copyright">
                        2020 &copy; All rights reserved
                        <div class="disclaimer">
                            DISCLAIMER: Results may vary from person to person. Our service is not intended to diagnose, treat, cure or prevent any disease and does not constitute medical advice.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <noscript id="deferred-styles">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla" type="text/css"/>
        </noscript>

        <script src="./js/app273a.js" type="text/javascript"></script>
        <script type="text/javascript">

            $('.e-btn-readmore').click(function () {
                $(this).hide()
                $('.story-block .e-description').addClass('is-open')
            });

            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
            });

            $(document).ready(function () {
                $('.scroll-btn').click(function () {
                    $([document.documentElement, document.body]).animate({
                        scrollTop: $("#summary-footer").offset().top - 20
                    }, 1000);
                });

                $('.story-scroll').click(function () {
                    $([document.documentElement, document.body]).animate({
                        scrollTop: $(".gender-buttons").offset().top - 50
                    }, 800);
                });

                $('.gender-buttons .btn').click(function () {
                    window.gender = $(this).data('gender');
                    window.location = "./quiz2/" + window.gender + ".html";
                });



                $("input[type='button']").click(function(){
                    var radioValue = $("input[name='gender']:checked").val();
                    if(radioValue == 'Male'){
                        window.location = "./quiz2/male.html";
                    }
                    if(radioValue == 'Female'){
                        window.location = "./quiz2/female.html";
                    }
                });
            });
        </script>

        <script src="./js/js.cookie.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            function getParameterByName(name) {
                name = name.replace(/[\[]/, "\[").replace(/[\]]/, "\]");
                var regex = new RegExp("[\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
                return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            }

            $(document).ready(function () {
                if (getParameterByName('utm_source') == 'tapstone' || Cookies.get('utm_source') == 'tapstone') {
                    if (Cookies.get('utm_source') == undefined) {
                        Cookies.set('utm_source', 'tapstone', {expires: 7});
                    }
                    $('body').append('<iframe src="https://click.clktraker.com/aff_goal?a=l&goal_id=786" scrolling="no" frameborder="0" width="1" height="1"></iframe>');
                }
            });
        </script>
        <script type="text/javascript">
            var loadDeferredStyles = function () {
                var addStylesNode = document.getElementById("deferred-styles");
                var replacement = document.createElement("div");
                replacement.innerHTML = addStylesNode.textContent;
                document.body.appendChild(replacement)
                addStylesNode.parentElement.removeChild(addStylesNode);
            };
            var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
            window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
            if (raf) raf(function () {
                window.setTimeout(loadDeferredStyles, 0);
            });
                else window.addEventListener('load', loadDeferredStyles);
            </script>
            <script src="./js/rocket-loader.min.js" data-cf-settings="95c3c5c99d82cfdd525634e1-|49" defer=""></script>
            <script defer src="./js/beacon.min.js" data-cf-beacon='{"rayId":"58d9dd39699be291","version":"2020.3.0","startTime":1588507673186}'></script>
        </body>

        </html>
