
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" name="viewport">
    <meta name="csrf-token" content="d3xrTI7xPf7RGpsN0ca73q1iuQ1OVDk9kfHL17Sj">
    <meta name="robots" content="noindex" />
    <meta name="description" content="Keto Cycle offers a new, educated approach to the famous Ketogenic diet. It combines all of its health and weight loss benefits in one, easy-to-use app and guides you through your personalized daily Keto meal plan the safest way possible.">
    <meta name="keywords" content="Keto diet">

    <title>Personalized Keto Diet Meal Plans | KetoCycle.Diet</title>
    <link href="./css/app-new.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="./js/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- <link rel="stylesheet" href="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/3.0.0/adyen.css" /> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla" type="text/css" />
    <link rel="stylesheet" href="./css/landing.css" />
    <link rel="stylesheet" href="./css/checkout.css" />
    <!-- <script type="text/javascript">
        window.dataLayer = window.dataLayer || []
        dataLayer.push({'clientEmail': 'knoxind@gmail.com'});
    </script> -->

    <!-- <script type="text/javascript">(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
        'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
    'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-WVCZ9C5');</script>


<script data-cfasync="false" src="https://dev.visualwebsiteoptimizer.com/lib/370896.js"></script> -->

<style type="text/css">
    body {
        background: #fff !important;
    }
</style>

</head>
<body>

    <!-- <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WVCZ9C5"
        height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript> -->

    <div id="navbar-fixed" class="navbar navbar-fixed">
        <div class="navbar-fixed--inner container">
            <img src="./images/logo.svg" alt="KetoCycle.Diet" class="regular-logo">
            <div class="limited-offer">
                The offer expires in: <span class="time is-pulsing">15:00</span>
            </div>
            <button class="e-btn cta-btn select-plan-3">Get your plan</button>
        </div>
    </div>
    <div id="billing" class="m-billing--v5 m-billing--v6 m-billing--v7 m-checkout--11 m-billing--fixed active adyen-checkout">
        <div class="with-bg">
            <div class="container ">
                <img src="./images/logo.svg" alt="KetoCycle.Diet" class="regular-logo">
                <div class="block-content">
                    <h1 class="e-intro-title">Get your
                        <span>personal</span> Keto Diet
                    </h1>
                    <h2 style="font-size: 29px;text-decoration:none;">The most popular Keto diet!
                        Over <span>541 221</span>
                    plans ordered</h2>
                </div>
                <div class="limited-offer">
                    The offer expires in: <span class="time is-pulsing">15:00</span>
                </div>
                <div class="flex-block">
                    <div class="plan-selection subscriptions subscriptions-en">
                        <h3>Select your plan</h3>
                        <div class="pricing-options">
                            <div class="pricing-option pricing-1" data-pricing="1">
                                <div class="tick"><i></i></div>
                                <div class="option-title">
                                    3 months<br /> Keto diet
                                    <div class="billing-period">Billed every 3 months</div>
                                </div>
                                <div class="option-price single-month currency-USD">
                                    <div>$2.50</div>
                                    <div class="per-week">per week</div>
                                    <div class="old-price">$5</div>
                                </div>
                            </div>
                            <div class="pricing-option pricing-3 active" data-pricing="3">
                                <div class="tick"><i></i></div>
                                <div class="option-title">
                                    12 months<br />Keto diet
                                    <div class="billing-period">Billed every 12 months</div>
                                </div>
                                <div class="option-price">
                                    <div class="per-week">per week</div>
                                    <div>$1.25</div>
                                    <div class="old-price">$5</div>
                                </div>
                                <div class="discount">
                                    Special offer - save 75%
                                </div>
                            </div>
                            <div class="pricing-option pricing-2" data-pricing="2">
                                <div class="tick"><i></i></div>
                                <div class="option-title">
                                    6 months<br /> Keto diet
                                    <div class="billing-period">Billed every 6 months</div>
                                </div>
                                <div class="option-price  currency-USD">
                                    <div>$1.75</div>
                                    <div class="per-week">per week</div>
                                    <div class="old-price">$5</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="benefits-listed  v2 ">
                        <h3>All plans include</h3>
                        <ul>
                            <li class="e-feature">
                                <i class="fas fa-check" style=""></i>
                                A personalized Keto meal plan
                                <div class="feature-description">Know exactly what to eat for breakfast, lunch, and dinner.</div>
                            </li>
                            <li class="e-feature">
                                <i class="fas fa-check" style=""></i>
                                Keto snacks and desserts
                                <div class="feature-description">Lose weight eating chocolate, peanut butter and more. (We will tell you how)</div>
                            </li>
                            <li class="e-feature">
                                <i class="fas fa-check" style=""></i>
                                Easy-to-follow recipes
                                <div class="feature-description">Quickly prepare meals that leave you pleasantly full, and know what to order when you eat out.</div>
                            </li>
                            <li class="e-feature">
                                <i class="fas fa-check" style=""></i>
                                Simple ingredients from any store
                                <div class="feature-description">Save time &amp; money with a printable grocery list.</div>
                            </li>
                            <li class="e-feature">
                                <i class="fas fa-check" style=""></i>
                                24/7 nutritionist support
                                <div class="feature-description">Get science-based advice at any time of the day.</div>
                            </li>
                            <li class="e-feature">
                                <i class="fas fa-check" style=""></i>
                                A complete Keto diet guide for beginners
                            </li>
                        </ul>
                    </div>
                    <div class="payment-info">
                        <div class="e-termsconditions">
                            <div class="e-termsconditions-checkbox">
                                <div class="payment-disclaimer">
                                    <input id="terms_and_conditions" name="terms_and_conditions" type="checkbox" style="display:none;" checked="checked" class="e-terms_and_conditions  e-checkbox m-general">
                                    By purchasing, you agree to our
                                    <a href="#" data-toggle="modal" data-target="#terms_and_conditions_modal_us">
                                        T&amp;Cs
                                    </a>
                                    and
                                    <a href="#" data-toggle="modal" data-target="#privacy_policy_modal">
                                        Privacy policy
                                    </a>
                                </div>
                            </div>
                            <div class="error-msg" style="display:none;">
                                Please check that you agree with the Terms and Conditions
                            </div>
                        </div>
                        <button class="e-btn cta-btn subscribe-btn">Click here to get your plan</button>
                    </div>
                    <div class="secure-payment">
                        <img src="./images/safecheckout.png" alt="Secure payment" />
                    </div>
                </div>
                <div class="main-container">

                    <div class="product-composition">
                        <div class="block-content">
                            <div class="left-side">
                                <h3>Your personalized Keto diet plan</h3>
                            </div>
                            <div class="right-side">
                                <img src="./images/keto-plan.webp" alt="Shopping list" />
                            </div>
                        </div>
                    </div>
                    <div class="keto-benefits">
                        <div class="block-content">
                            <h2 style="text-decoration: none;">Keto benefits</h2>
                            <ul>
                                <li class="e-feature">
                                    <i class="fas fa-check" style=""></i>Sustainable weight loss
                                </li>
                                <li class="e-feature">
                                    <i class="fas fa-check" style=""></i>Reduced risk of inflammation
                                </li>
                                <li class="e-feature">
                                    <i class="fas fa-check" style=""></i>It can reduce insulin resistance, lowering blood sugar by 3–6% and insulin levels by 20–31%
                                </li>
                                <li class="e-feature">
                                    <i class="fas fa-check" style=""></i>Reduces &quot;bad&quot; LDL cholesterol, blood triglycerides, inflammatory markers, and blood sugar
                                </li>
                                <li class="e-feature">
                                    <i class="fas fa-check" style=""></i>Increases sleep quality; accelerates metabolism
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="covered">
                    <div class="heading">Keto Diet was covered in</div>
                    <div class="covered-logos">
                        <img src="./images/covered-1.png" alt="Health Insider" />
                        <img src="./images/covered-2.png" alt="Business Insider" />
                        <img src="./images/covered-3.png" alt="New york times" />
                    </div>
                </div>
                <div class="product-composition-media">
                    <div class="block-content-media">
                        <h3>Your personalized Keto diet plan</h3>
                        <img src="./images/keto-plan.webp" alt="Shopping list" />
                    </div>
                </div>
                <div class="faq">
                    <div class="block-content">
                        <h2 style="text-decoration: none;">People often ask us</h2>
                        <div class="block-content-items">
                            <p><span>What happens after I order?</span><br>
                                After you place your order we get to work! Based on the questions you answered in the quiz,
                                we’ll craft your plan to your exact personal nutrition requirements. All plans are double
                                verified - by the person making it and a supervisor - so you can be certain the plan you get is
                                the best.
                            </p>
                            <p><span>When do I get my plan?</span><br>
                                Our every plan is personalized and our nutritionists work hard to make them for you to like.
                                Usually it takes up to 2 hours for your plan to be delivered into your email.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="limited-offer">
                    The offer expires in: <span class="time is-pulsing">15:00</span>
                </div>
                <br />
                
            </div>
        </div>
    </div>

    <div id="cc-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Get your plan</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="paypal-button"></div>
                    <div class="payment-loader">
                        <img src="./images/loader.gif" alt="Processing" />
                    </div>
                    <div class="payment-separator">
                        <span>or pay with a card</span>
                    </div>
                    <!-- <div id='adyen-checkout'>
                        <div id="adyen-container"></div>
                    </div> -->
                    <div class="final-price subscription">
                        <strong>Total:</strong>
                        <span class="amount">$66.00</span> &nbsp;
                        billed every <span class="period">12</span> month(s)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="terms_and_conditions_modal_us" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" style="position: absolute;z-index: 1;right: 5px;top: -25px;color: white;opacity: 1;" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- <div class="b-text b-text-api" style="display: none"></div> -->
                <div class="b-text b-text-fallback" >
                    <p><strong>General Terms and Conditions</strong></p>
                    <p>
                        <strong>1. Introduction</strong>
                    </p>
                    <p>
                        1.1. This Agreement govern the entire relationship between you the Client and the Company.
                    </p>
            </div>
            </div>
        </div>
    </div>
    <div id="privacy_policy_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" style="position: absolute;z-index: 1;right: 5px;top: -25px;color: white;opacity: 1;" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- <div class="b-text b-text-api" style="display: none"></div> -->
                <div class="b-text b-text-fallback">
                    <p><strong>Data protection policy</strong></p>
                    <p style="margin-top:0.23in; margin-bottom:0.11in">
                        <span style="line-height:100%">
                            <font color="#444444">
                                <font face="Karla, serif">
                                    <font size="2">
                                        <font style="font-size: 10pt"><b>KETO CYCLE COMMITMENT TO PRIVACY</b></font>
                                    </font>
                                </font>
                            </font>
                        </span>
                    </p>
                    
                    </div>
                </div>
            </div>
        </div>
        <div id="terms_and_conditions_modal_eu" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" style="position: absolute;z-index: 1;right: 5px;top: -25px;color: white;opacity: 1;" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- <div class="b-text b-text-api" style="display: none"></div> -->
                    <div class="b-text b-text-fallback" >
                        <P ALIGN=CENTER STYLE="margin-bottom: 0.17in; line-height: 100%">
                            <FONT SIZE=4><B>General
                            Terms and Conditions</B></FONT>
                        </P>
                        <P ALIGN=JUSTIFY STYLE="margin-left: 0.97in; text-indent: -0.49in; margin-bottom: 0.17in; line-height: 100%">
                            <FONT SIZE=3><B>1. Introduction</B></FONT>
                        </P>
                        <P ALIGN=JUSTIFY STYLE="margin-left: 0.97in; text-indent: -0.49in; margin-bottom: 0.17in; line-height: 100%">
                            <FONT SIZE=2>1.1. These General Terms and Conditions (the
                            “</FONT>
                            <FONT SIZE=2><B>T&amp;Cs</B></FONT>
                            <FONT SIZE=2>”) govern
                                the entire relationship between you the Client and the Company acting
                            as an individual meal plan provider based on Keto diet.</FONT>
                        </P>
                            </div>
                        </div>
                    </div>
                </div>


                <script data-cfasync="false" src="./js/email-decode.min.js"></script>



               <!--  <script src="./js/libs/core-js/2.6.9/core.min.js" integrity="sha256-+TULExmyD/NYybiq1jR6qIxiCQHqmjb3yGVZyKyIgso=" crossorigin="anonymous" type="text/javascript"></script>

                <script src="./js/libs/core-js/2.6.9/library.min.js" integrity="sha256-KDAQwXQtJVNHkbjmwnCTwK6G5ZQ0wIIEN0VV92t8nkw=" crossorigin="anonymous" type="text/javascript"></script> 

                <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js" type="text/javascript"></script>

                <script src="https://js.braintreegateway.com/web/dropin/1.13.0/js/dropin.min.js" type="text/javascript"></script>

                <script src="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/3.0.0/adyen.js" type="text/javascript"></script>

                <script src="https://www.paypalobjects.com/api/checkout.js" data-version-4 log-level="warn" type="text/javascript"></script>

                <script src="https://js.braintreegateway.com/web/3.46.0/js/client.min.js" type="text/javascript"></script>

                <script src="https://js.braintreegateway.com/web/3.46.0/js/paypal-checkout.min.js" type="text/javascript"></script>-->

                <script src="./js/app01.js" type="text/javascript"></script>

                <script type="text/javascript">
                    $(window).on("load resize scroll", function (e) {
                        if (document.body.scrollTop > 800 || document.documentElement.scrollTop > 800) {
                            $(".notice-footer").addClass("is-active");
                        } else {
                            $(".notice-footer").removeClass("is-active");
                        }
                    });

                </script>

                <script type="text/javascript" src="./js/jquery.min.js"></script>
                <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
                <script type="text/javascript" src="./js/payment.js"></script>

                <!-- <script src="./js/js.cookie.min.js" type="text/javascript"></script>

                <script src="./js/bundle.min.js" integrity="" crossorigin="anonymous" type="text/javascript"></script> -->
                <script src="./js/rocket-loader.min.js" data-cf-settings="" defer=""></script></body>
                </html>
